{
  "openapi": "3.0.0",
  "x-api-id": "front",
  "x-explorer-enabled": false,
  "x-proxy-enabled": true,
  "x-samples-enabled": true,
  "info": {
    "version": "1.0.0",
    "title": "Channel API",
    "contact": {
      "name": "Front Platform",
      "url": "https://community.front.com"
    }
  },
  "security": [
    {
      "http": []
    }
  ],
  "servers": [
    {
      "url": "https://api2.frontapp.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "acceptedMessage": {
        "description": "An accepted message",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "default": "accepted"
                },
                "message_uid": {
                  "type": "string",
                  "description": "Message unique identifier"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "InboundMessage": {
        "required": [
          "sender",
          "body",
          "metadata"
        ],
        "properties": {
          "sender": {
            "type": "object",
            "description": "Data of the sender",
            "required": [
              "handle"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the sender"
              },
              "handle": {
                "type": "string",
                "description": "Handle of the sender. It can be any string used to uniquely identify the sender. **Important:** When sending a phone number, include a country code preceded by a plus (+) sign. For example, +33 for France. If you do not send a country code or include a plus sign, Front will normalize your phone number to the USA (+1)."
              }
            }
          },
          "subject": {
            "type": "string",
            "description": "Subject of the message"
          },
          "body": {
            "type": "string",
            "description": "The body of the message in HTML or plain text format."
          },
          "metadata": {
            "type": "object",
            "required": [
              "external_id",
              "external_conversation_id"
            ],
            "properties": {
              "external_id": {
                "type": "string",
                "maxLength": 200,
                "description": "External identifier of the message"
              },
              "external_conversation_id": {
                "type": "string",
                "maxLength": 200,
                "description": "External identifier of the conversation. Will be used to thread messages."
              }
            }
          },
          "delivered_at": {
            "type": "integer",
            "description": "Time in seconds at which message was created in external system"
          },
          "attachments": {
            "description": "Binary data of attached files. Must use `Content-Type: multipart/form-data` if specified. See [example](https://gist.github.com/hdornier/e04d04921032e98271f46ff8a539a4cb) or read more about [Attachments](https://dev.frontapp.com/docs/attachments-1).  Max 25 MB.",
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "OutboundMessage": {
        "required": [
          "to",
          "body",
          "metadata"
        ],
        "description": "Payload to receive an outbound message from an external system into Front.",
        "properties": {
          "sender_name": {
            "type": "string",
            "description": "Name of the sender"
          },
          "to": {
            "type": "array",
            "description": "Data of the message recipient",
            "items": {
              "type": "object",
              "required": [
                "handle"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the recipient"
                },
                "handle": {
                  "type": "string",
                  "description": "Handle of the recipient. It can be any string used to uniquely identify the sender. **Important:** When sending a phone number, include a country code preceded by a plus (+) sign. For example, +33 for France. If you do not send a country code or include a plus sign, Front will normalize your phone number to the USA (+1)."
                }
              }
            }
          },
          "subject": {
            "type": "string",
            "description": "Subject of the message"
          },
          "author_id": {
            "type": "string",
            "description": "ID of the teammate on behalf of whom the message is sent"
          },
          "body": {
            "type": "string",
            "description": "The body of the message in HTML or plain text format."
          },
          "metadata": {
            "type": "object",
            "required": [
              "external_id",
              "external_conversation_id"
            ],
            "properties": {
              "external_id": {
                "type": "string",
                "maxLength": 200,
                "description": "External identifier of the message"
              },
              "external_conversation_id": {
                "type": "string",
                "maxLength": 200,
                "description": "External identifier of the conversation. Will be used to thread messages."
              }
            }
          },
          "delivered_at": {
            "type": "integer",
            "description": "Time in seconds at which message was created in external system"
          },
          "attachments": {
            "description": "Binary data of attached files. Must use `Content-Type: multipart/form-data` if specified. See [example](https://gist.github.com/hdornier/e04d04921032e98271f46ff8a539a4cb) or read more about [Attachments](https://dev.frontapp.com/docs/attachments-1).  Max 25 MB.",
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      },
      "UpdateChannel": {
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the channel",
            "enum": [
              "offline",
              "ok"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/channels/{channel_id}": {
      "patch": {
        "summary": "Update Channel",
        "operationId": "update-channel",
        "description": "Update a channel.",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "The Channel ID. Alternatively, you can supply the channel address as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).",
            "schema": {
              "type": "string",
              "default": "cha_123"
            }
          }
        ],
        "requestBody": {
          "description": "Channel details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannel"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/channels/{channel_id}/inbound_messages": {
      "post": {
        "summary": "Sync inbound message",
        "operationId": "sync-inbound-message",
        "description": "Import a message that was received by the channel.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "The channel ID. Alternatively, you can supply the channel address as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).",
            "schema": {
              "type": "string",
              "default": "cha_123"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboundMessage"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/acceptedMessage"
          }
        }
      }
    },
    "/channels/{channel_id}/outbound_messages": {
      "post": {
        "summary": "Sync outbound message",
        "operationId": "sync-outbound-message",
        "description": "Import a message that was sent from the channel.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "channel_id",
            "required": true,
            "description": "The channel ID. Alternatively, you can supply the channel address as a [resource alias](https://dev.frontapp.com/docs/resource-aliases-1).",
            "schema": {
              "type": "string",
              "default": "cha_123"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutboundMessage"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/acceptedMessage"
          }
        }
      }
    },
    "/messages/{message_id}/status": {
      "put": {
        "summary": "Update message status",
        "operationId": "update-message-status",
        "description": "Update the status of an outbound message. This endpoint is used by external systems (like SMS providers or custom channels)\nto notify Front when a message's delivery status has changed.\n\n**Available status changes:**\n- `failed`: Mark a message as failed. When marked as failed, the conversation is reopened so the team can take action.\n\n**Note:** This endpoint is only available for outbound messages.\n",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "message_id",
            "required": true,
            "description": "The message ID",
            "schema": {
              "type": "string",
              "default": "msg_123"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "failed"
                    ],
                    "description": "The status to set for the message. Currently only 'failed' is supported."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the status change. This will be displayed to users and logged for debugging purposes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    }
  }
}
